
<div class="container">
  <div class="cards">
    <% @profile_sitters.each do |profile_sitter| %>
    <div class="card-result-sitter" style="width: 18rem;">
      <img src="https://source.unsplash.com/user/allaboutanimals" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-result-sitter-title"><%= profile_sitter.user.first_name %> <%= profile_sitter.user.last_name %></h5>
        <p class="card-result- sitter-text"> <%= profile_sitter.description %></p>
        <a href="#" class="btn btn-success">See more</a>
      </div>
    </div>
    <% end  %>
  </div>

  <div class="container-map">
    <%= image_tag "https://unsplash.com/photos/TzjMd7i5WQI", :alttext %>
  </div>
</div>
