  <div class="form-outline">
    <div class="input-group">
      <%= form_tag profile_sitters_path, method: :get, class:"search-form mt-3" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control search-bar",
        placeholder: "Type your adress to find a sitter near you"
        %>
        <%= button_tag(type: "submit", class: "search-button") do %>
          <i class="fas fa-search"></i>
          <span>Search</span>
        <% end %>
      <% end %>
      </div>
  </div>
