.index-bar {
  padding: 20px;
  background-color: #E2DBDD;
  // background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.07));
  position: sticky;
  top: 50px;
  height: 180px;
  z-index: 50;
}
.index-container{
  margin: 30px;
  position: relative;

}


.index-title {
  text-align: left;
  margin-top: 20px;
}

.index-cards {
  flex-grow: 1;
  // margin-right: 42%;
  width: 58%

}

.index-map {
  // flex-basis: 600px;
  position: fixed;
  top: 250px;
  right: 0px;
}

pink {
  color: #C56996;
}
