
.index-container{
  margin: 30px;

}

.index-title {
  text-align: center;
  margin-top: 20px;
}

.index-cards {
  flex-grow: 1;

}

.index-map {
  // flex-basis: 600px;
  position: fixed;


  top: 0;
  right: 0;
}
