<div class="container home d-flex  ">
  <div class="container home-text d-flex flex-column align-item-center mt-6 ">
    <h1> Sitter on the way</h1>
    <p> Need a sitter for your fantastic pet?</p>
  </div>

  <%# <%= render '/searchbar'  %>
</div>
