<div class="container-home banner d-flex justify-content-center align-item-center">

  <div class="home-content">
    <div class="home-text text-center">
      <h1> Sitter on the way</h1>
      <h4 class ="mt-4"> Need a sitter for your fantastic pet?</h4>
      <%= render 'shared/searchbar'%>
      <p class = "home-offer">Meet our available sitters close to you and find the perfect match for your <strong><p><span data-controller="typed-js"></span>
</p></strong> </p>
    </div>
  </div>
</div>
