<div class="container-home banner d-flex justify-content-center align-item-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1561037404-61cd46aa615b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80);">
  <div class="home-content">
    <div class="home-text text-center">
      <h1> Sitter on the way</h1>
      <h4 class ="mt-4"> Need a sitter for your fantastic pet?</h4>
      <%= render 'shared/searchbar'%>
      <p class = "home-offer">Meet our available sitters close to you and find the perfect match for your <strong><p><span data-controller="typed-js"></span>
</p></strong> </p>
    </div>
  </div>
</div>
