<div class="container-home d-flex justify-content-center">
  <div class="home-text">
    <h1> Sitter on the way</h1>
    <p class ="mt-4"> Need a sitter for your fantastic pet?</p>
  </div>

  <%# <%= render '/searchbar'  %>
</div>
