.container {
  position: relative;
}

.btn-user {
  position: absolute;
  top: 15px;
  right: -35px;
}

.btn-user-status {
  background-color: #cac3c5;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);;
  &:hover {
    background-color: #b3a3a8;
    color: white;
  }
}

.btn-sitter {
  background-color: rgb(231, 212, 212);
  border-radius: 5px;
  color: black;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);;
  width: 250px;
  &:hover {
    background-color: white;

  }
  margin-left : 30%
}

.btn-booking {
  background-color: rgb(231, 212, 212);
  border-radius: 5px;
  color: black;
  text-decoration: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  margin-left: 12%;
  margin-top: 10px;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);;
  width: 250px;
  &:hover {
    background-color: #E2DBDD;
  }
}
