#booking-title {
  text-align: center;
}

.card-element {
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width: 992px) {
  .cards-category  {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-category  {
    grid-template-columns: 1fr;
  }
}
