#booking-title {
  text-align: start;
  font-family: 'Noto Sans', 'Liberation Sans';
}

// .card-element {
//   background-color: rgb(231, 212, 212);
//   border-radius: 10px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
// }

.cards-category {
  display: flex;
  border-radius: 10px;
  height: 450px;
  width: 250px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  flex-direction: column;
  position: relative;
}

.inner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(231, 212, 212);
  text-align: center;
  border-radius: 5px;
  width: 238px;
  margin: 6px;
  padding: 4px;
}

#accept {
  text-decoration: none;
  &:hover {
    color: white;
  }
}

#map {
  border-radius: 5px;
  margin: 6px;
}

.card-check-sitters {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 450px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}
