.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height:50px;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 125px;
  margin-left: 10px;
}

.dropdown-menu-right {
  right: 0;
  left: auto !important;
}

#home_navbar{
  align-self: center;
}

.test{
  width: 40px;
  height: 40px;
}
