.search-form {
  display: flex;
}

.search-bar {
  border-radius: 50px;
  width: 400px;
}

.search-button {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  margin-left: 5px;
  background-color: rgb(231, 212, 212);
  padding-left: 20px;
  padding-right: 20px;
  &:hover{
    background-color: rgb(228, 189, 189);
  }
}

.input-group{
  justify-content: center;
  &.left-searchbar {
    justify-content: left;
    margin-left: 27px;
  }
}
